<div class="mt-5">
  <div class="d-flex justify-content-between mb-3">
    <h3 class="m-0">Tasks</h3>
    <div class="d-flex gap-2 justify-content-between">
      <button class="btn btn-danger text-truncate">
        <app-arrow-down-icon></app-arrow-down-icon> Name
      </button>
      <button class="btn btn-danger text-truncate">
        <app-arrow-up-icon></app-arrow-up-icon> Hours
      </button>
      <a routerLink="tasks/new" class="btn btn-primary text-truncate">New</a>
    </div>
  </div>
  <div class="list-group">
    <a
      routerLink="tasks/{{ task.id }}"
      class="list-group-item list-group-item-action py-3 d-flex align-items-center justify-content-between align-content-end"
      *ngFor="let task of tasks"
      ><div>
        <h5 class="mb-2">{{ task.name }}</h5>
        <p class="m-0 fw-lighter fst-italic">{{ task.type }}</p>
      </div>
      <div class="flex-column d-flex align-items-end">
        <p class="mb-2 p-0 text-black-50">{{ task.totalHours }} hours total</p>
        <div class="btn-group">
          <a
            class="btn btn-xs btn-outline-info"
            routerLink="tasks/{{ task.id }}/edit"
          >
            <app-edit-icon></app-edit-icon>
          </a>
          <button class="btn btn-xs btn-outline-danger">
            <app-delete-icon></app-delete-icon>
          </button>
        </div>
      </div>
    </a>
  </div>
</div>
